{{#each idea}}

<div class="list container mb-5">
    <h1> <center> {{title}} </center></h1>
    <div class="journal mb-2">
    <span> {{date}} </span>    
    <p>{{journal}}</p>
    </div>
   <div>
   <a href="/edit/{{id}}" class="btn btn-primary btn-md mr-2"> Edit </a> 
   <button class="btn btn-danger btn-md"> Delete </button> 
   </div>
</div>
<thisfha> dsfaasrfsdasjrfls </thisfha>
{{else}}

<div class="list container">
    <h1> There are no any videos on the list </h1>
</div>

{{/each}}